* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Lucida Console", "Courier New", monospace;

}

header{
    height:70px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 23px;
}

#buttonsMenu{
    padding-top: 30px;
    height:70px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}



#buttonsMenu label{
    padding-right: 70px;
    padding-left: 5px;
}

#drawingArea{
    height:550px;
    width:550px;
    display: grid;
    grid-template-columns: repeat(var(--cellSize), 1fr);
    grid-template-rows: repeat(var(--cellSize), 1fr);

    margin: auto;
    margin-top: 30px;
    border:5px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 2px #888888;

}


/* Style for each square inside grid */
#drawingArea .square {
    width: 100%;
    height: 100%;
    background-color: white;
}

#drawingArea .square:hover{
    opacity: .5;
    background-color: black;
}

#bottomMenu{
    height:70px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

#bottomMenu button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


 footer{
    height:70px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}