* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

main {
    margin: auto;
    margin-top: 50px;
    border:5px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 8px 2px #888888;
}

main#drawingArea{
    height:650px;
    width:650px;
    display: grid;
    grid-template-columns: repeat(var(--cellSize), 1fr);
    grid-template-rows: repeat(var(--cellSize), 1fr);
}


/* Style for each square inside grid */
#drawingArea .square {
    width: 100%;
    height: 100%;
    background-color: white;
}

#drawingArea .square:hover{
    opacity: .5;
    background-color: black;
}